/*
 ___      ___ ________  _________  ________  ___          
|\  \    /  /|\   __  \|\___   ___\\   ____\|\  \         
\ \  \  /  / | \  \|\  \|___ \  \_\ \  \___|\ \  \        
 \ \  \/  / / \ \   _  _\   \ \  \ \ \  \    \ \  \       
  \ \    / /   \ \  \\  \|   \ \  \ \ \  \____\ \  \____  
   \ \__/ /     \ \__\\ _\    \ \__\ \ \_______\ \_______\
    \|__|/       \|__|\|__|    \|__|  \|_______|\|_______|

*/

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   IMPORTS                                  */
/*////////////////////////////////////////////////////////////////////////////*/

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/*////////////////////////////////////////////////////////////////////////////*/
/*                       SASS VARS, MIXINS AND FUNCTIONS                      */
/*////////////////////////////////////////////////////////////////////////////*/

@mixin center {
	display: block;
	margin: 0 auto;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   RESET                                    */
/*////////////////////////////////////////////////////////////////////////////*/

* {
    margin: 0;
    padding: 0;
}

@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    FONT                                    */
/*////////////////////////////////////////////////////////////////////////////*/

html {
	@include font-smoothing(on);
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	word-wrap: break-word;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    HEADER                                  */
/*////////////////////////////////////////////////////////////////////////////*/

#header {
  background-color: RGB(224, 224, 224);
  height: 790px;
}

#icon {
  height: 100px;
  margin: 50px;
  margin-bottom: 100px;
}

#iphone {
  width: 400px;
  margin-top: 200px;
  @include center;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   CONTENT                                  */
/*////////////////////////////////////////////////////////////////////////////*/

#content {
  background-color: RGB(51, 51, 51);
  height: 800px;
  h1 {
    text-align: center;
    padding-top: 350px;
    color: white;
    font-weight: 600;
    font-size: 200px;
  }
}