/*
 ___      ___ ________  _________  ________  ___          
|\  \    /  /|\   __  \|\___   ___\   ____\|\  \         
\ \  \  /  / | \  \|\  \|___ \  \_\ \  \___|\ \  \        
 \ \  \/  / / \ \   _  _\   \ \  \ \ \  \    \ \  \       
  \ \    / /   \ \  \  \|   \ \  \ \ \  \____\ \  \____  
   \ \__/ /     \ \__\ _\    \ \__\ \ \_______\ \_______\
    \|__|/       \|__|\|__|    \|__|  \|_______|\|_______|

*/
/*////////////////////////////////////////////////////////////////////////////*/
/*                                   IMPORTS                                  */
/*////////////////////////////////////////////////////////////////////////////*/
/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
/*////////////////////////////////////////////////////////////////////////////*/
/*                       SASS VARS, MIXINS AND FUNCTIONS                      */
/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/
/*                                   RESET                                    */
/*////////////////////////////////////////////////////////////////////////////*/
* {
  margin: 0;
  padding: 0; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    FONT                                    */
/*////////////////////////////////////////////////////////////////////////////*/
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  word-wrap: break-word; }

a {
  text-decoration: none; }

::selection {
  background-color: #CDFD70; }

::-moz-selection {
  background-color: rgba(205, 253, 112, 0.7); }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                     BUTTON                                 */
/*////////////////////////////////////////////////////////////////////////////*/
.button {
  display: block;
  width: 330px;
  border-radius: 50px;
  padding: 20px 0;
  text-align: center;
  transition: color 0.2s, background-color 0.2s; }

.button {
  font-weight: 400;
  font-size: 30px; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                     GRID                                   */
/*////////////////////////////////////////////////////////////////////////////*/
.grid-3 {
  overflow: hidden; }
  .grid-3 .gridMember:nth-child(1) {
    float: left; }
  .grid-3 .gridMember:nth-child(2) {
    float: left; }
  .grid-3 .gridMember:nth-child(3) {
    float: left; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    HEADER                                  */
/*////////////////////////////////////////////////////////////////////////////*/
#header {
  background-color: #E0E0E0;
  height: 790px;
  background-image: url(../images/background.png);
  background-size: cover; }

#icon {
  height: 100px;
  margin: 50px;
  margin-bottom: 100px; }

#iphone {
  width: 400px;
  margin-top: 200px;
  display: block;
  margin: 0 auto; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   CONTENT                                  */
/*////////////////////////////////////////////////////////////////////////////*/
#content {
  background-color: #333333;
  text-align: center;
  padding-bottom: 200px; }
  #content h1 {
    padding-top: 320px;
    color: white;
    font-weight: 600;
    font-size: 180px; }
  #content h3 {
    color: white;
    font-weight: 200;
    font-size: 40px; }
    #content h3 b {
      font-weight: 600; }
  #content img {
    width: 100px;
    margin-bottom: 30px; }
  #content p {
    color: white;
    font-weight: 200;
    font-size: 30px; }

.button {
  color: #996CFB;
  border: 3px solid #996CFB;
  display: block;
  margin: 0 auto;
  margin-top: 100px; }
  .button:hover {
    color: white;
    background-color: #996CFB; }

.grid-3 {
  display: block;
  margin: 0 auto;
  width: 900px;
  margin-top: 100px; }

.gridMember {
  width: 33.33333%; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   FOOTER                                   */
/*////////////////////////////////////////////////////////////////////////////*/
#footer {
  background-color: #996CFB;
  padding-top: 40px;
  padding-bottom: 20px; }
  #footer img {
    display: block;
    margin: 0 auto;
    width: 80px;
    margin-bottom: 20px; }
  #footer a img {
    transition: opacity 0.2s; }
  #footer a img:hover {
    opacity: 0.6; }
  #footer p {
    color: white;
    font-weight: 200;
    font-size: 14pt;
    text-align: center; }

/*# sourceMappingURL=screen.css.map */
