/*
 ___      ___ ________  _________  ________  ___          
|\  \    /  /|\   __  \|\___   ___\\   ____\|\  \         
\ \  \  /  / | \  \|\  \|___ \  \_\ \  \___|\ \  \        
 \ \  \/  / / \ \   _  _\   \ \  \ \ \  \    \ \  \       
  \ \    / /   \ \  \\  \|   \ \  \ \ \  \____\ \  \____  
   \ \__/ /     \ \__\\ _\    \ \__\ \ \_______\ \_______\
    \|__|/       \|__|\|__|    \|__|  \|_______|\|_______|

*/

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   IMPORTS                                  */
/*////////////////////////////////////////////////////////////////////////////*/

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/*////////////////////////////////////////////////////////////////////////////*/
/*                       SASS VARS, MIXINS AND FUNCTIONS                      */
/*////////////////////////////////////////////////////////////////////////////*/

@mixin center {
	display: block;
	margin: 0 auto;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   RESET                                    */
/*////////////////////////////////////////////////////////////////////////////*/

* {
    margin: 0;
    padding: 0;
}

@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    FONT                                    */
/*////////////////////////////////////////////////////////////////////////////*/

html {
	@include font-smoothing(on);
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	word-wrap: break-word;
}

a {
  text-decoration: none;
}

$neonYellow: #CDFD70;
::selection { 
	background-color: $neonYellow;
}
::-moz-selection { 
	background-color: rgba($neonYellow, 0.7); 
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                     BUTTON                                 */
/*////////////////////////////////////////////////////////////////////////////*/

$duration: 0.2s;

.button {
	display: block;
	width: 400px;
	border-radius: 50px;
	padding: 20px 0;
	text-align: center;
	transition: color $duration, background-color $duration;
}

@mixin buttonColor($strokeColor, $hoverFillColor, $hoverTextColor) {
	color: $strokeColor;
	border: 3px solid $strokeColor;
	&:hover {
		color: $hoverTextColor;
		background-color: $hoverFillColor;
	}
}

.button  {
    font-weight: 400;
    font-size: 40px;
}
/*////////////////////////////////////////////////////////////////////////////*/
/*                                    HEADER                                  */
/*////////////////////////////////////////////////////////////////////////////*/

#header {
  background-color: #E0E0E0;
  height: 790px;
}

#icon {
  height: 100px;
  margin: 50px;
  margin-bottom: 100px;
}

#iphone {
  width: 400px;
  margin-top: 200px;
  @include center;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   CONTENT                                  */
/*////////////////////////////////////////////////////////////////////////////*/

#content {
  background-color: #333333;
  height: 1500px;
  text-align: center;
  h1 {
    padding-top: 320px;
    color: white;
    font-weight: 600;
    font-size: 190px;
  }
  h3 {
    color: white;
    font-weight: 200;
    font-size: 50px;
    b {
      font-weight: 600;
    }
  }
}

$lila: #996CFB;
.button {
		@include buttonColor($lila, $lila, white);
    @include center;
    margin-top: 50px;
}